@import "tailwindcss";

:root {
  --background: #fffbeb;
  --foreground: #451a03;
}

html {
  height: 100%;
}

main {
  margin: 5rem auto;
  text-align: center;
}

body {
  height: 100%;
  background: var(--background);
  color: var(--foreground);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

[data-theme="dark"] {
  --background: #0f172a;
  --foreground: #f1f5f9;
}

[data-theme='light'] {
  --background: #fffbeb;
  --foreground: #451a03;
}